@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    border: 5px solid #909497;
}

.container {
    width: 100%;
    height: 20%;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: #cacfd2;
}

.left {
    display: flex;
    align-items: center;
}

h1 {
    font-variant: small-caps;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
}

.right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.display {
    height: 80%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #f2f3f4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    padding: 10px;
}

.out {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 90%;
}

.edit {
    width: 20%;
    height: 100%;
    background-color: white;
    border: 3px solid #797d7f;
    padding: 10px;
    padding-left: 20px;
}

input[type="file"] {
    cursor: pointer;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
}

input[type="text"] {
    outline: none;
    border: none;
    background-color: white;
    border-radius: 5px;
    width: 220px;
    height: 30px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 17px;
    padding: 6px 8px;
}

.front,
.back {
    width: 450px;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}



img {
    display: none;
    z-index: 10;
    margin-left: 50px;
}

#img2 {
    margin-left: -30px;
}

.btn {
    display: flex;
    align-items: center;
    gap: 50px;
}

button {
    padding: 6px 8px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    border: none;
    background-color: #58d68d;
    color: white;
    font-family: 25px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.temp1 {
    width: 100px;
    height: 95px;
    background-image: url("images/viro.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.template {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.temp2 {
    width: 100px;
    height: 95px;
    background-image: url("images/spiral2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

h2 {
    font-weight: bold;
    font-variant: small-caps;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #3498db;
}

.image1,
.image2 {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.fa-solid {
    font-size: 18px;
    cursor: pointer;
    background-color: #bdc3c7;
    padding: 5px;
    border-radius: 4px;
}

h3 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

.mirror {
    background-image: url("https://cdn-icons-png.flaticon.com/128/1014/1014932.png");
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}


#download-btn {
    background-color: #2e86c1;
    margin-top: 30px;
    padding: 10px 12px;
}

#download-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}



@media (max-width: 600px) {
    body {
        height: auto;
    }

    .container {
        flex-direction: column;
        height: auto;
        gap: 10px;
        padding: 10px;
    }

    h1 {
        font-size: 35px;
        margin-bottom: 10px;
    }

    .right {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .display {
        flex-direction: column;
    }

    .out {
        flex-direction: column;
    }

    .front,
    .back {
        width: 100%;
        height: 300px;
        
    }
    .out{
        width: 100%;
    }
    .edit{
        width: 100%;
    }
    img{
        margin-left: 50px;
    }
    #img1{
        margin-left: -1px;
    }
}